# Configuração e-mail (opcional)
{
        email seu@email.com  # Para notificações do Let's Encrypt
}

# HTTP Challenge

# Reverse Principal
meusite.duckdns.org {
        reverse_proxy meusite.duckdns.org:8080
}

# Reverse Api
www.meusite.duckdns.org, app.meusite.duckdns.org, quarkus.meusite.duckdns.org {
        reverse_proxy meusite.duckdns.org:8080
}

# Reverse DevOps
prometheus.meusite.duckdns.org {
        reverse_proxy meusite.duckdns.org:9090
}

grafana.meusite.duckdns.org {
        reverse_proxy meusite.duckdns.org:3000
}

portainer.meusite.duckdns.org {
        reverse_proxy meusite.duckdns.org:9000
}
